<h1>About Novel Observer</h1>

<p>In my dissertation, I made a claim that needed evidence. Namely, I asserted
  that John Dos Passos’s work <em>U.S.A.</em> was especially full of
  geographical data, namely placenames. This feels true when one reads the
  work, but why not try to prove it?</p>

<p>My solution was to pull down a handful of U.S. novels from the same time
   period and do a simple random* sample for each novel. I picked 30 pages at
   random and counted up how many placenames were on each page. Next the
   computer found the sample mean and the standard deviation. Since I was
   dealing with a small sample of only 20 pages large (if I recall correctly),
   I used the <a
     href="https://en.wikipedia.org/wiki/Student's_t-distribution"><var>t</var>-distribution</a>
   to calculate for 95% <a href="https://en.wikipedia.org/wiki/Confidence_interval">confidence</a>.</p>

<p>What this app does is let anyone do the same thing to count whatever it is
  that is interesting to the person, be it placenames, allusions, pronouns,
  whatever. The process is not automated, because the idea is that by sampling,
  the amount of data entry is not terribly high, and the results are just about
  OK.</p>

<p>I know that, personally, as I add to this database, I will be finding more
  and more “geographically rich” novels that I could subsequently teach or talk
  about in some way. Furthermore, I'll be finding what a typical amount of
  toponymic data is “normal.”</p>

<p><small>* This is a computer, so “random” never truly is.</small></p>
