<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Pages</th>
      <th>Obs./Page</th>
    </tr>
  </thead>
  <tbody>
    {{#books}}
      <tr>
        <td>
          <a href="/books/{{id}}">{{id}}</a>
        </td>
        <td><em>{{title}}</em> <a href="{{link}}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
        <td>{{author}}</td>
        <td>{{year}}</td>
        <td>{{pages}}</td>
        <td>{{observations_per_page}}</td>
      </tr>
    {{/books}}
  </tbody>
</table>
          
