<div class="row">
  <div class="col-md-9">
    <h1><em>{{title}}</em></h1>
    <h2>{{author}}, {{year}} <small>(isbn: {{isbn}})</small></h2>

    The text under consideration here goes from pages {{first_page}} to {{last_page}}.
  </div>
  <div class="col-md-3">
    <img src="{{cover}}" alt="{{cover_alt}}">
    <p><a href={{link}}>Google Books info</a></p>
  </div>
</div>
