var data = {
labels: [{{{labels}}}],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(200,200,200,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(200,200,200,1)",
            data: [{{{averages}}}],
            error: [{{{confidence_intervals}}}]
        }
    ]
};

var ctx = $("#myChart").get(0).getContext("2d");
var myBarChart = new Chart(ctx).Bar(data, {
  responsive: true,
  errorDir : "both",
  errorStrokeWidth : 3,
  errorCapWidth : 0.75
});
