 <div class="jumbotron">
   <h1>Novel Observer</h1>
   <canvas id="myScatter" width=700" height="300"></canvas>
   <p class="lead">Choose something you want to count in a novel (placenames, verbs, allusions to Homer), and use this website to sample your novels and build a database that lets you compare specific works.</p>
   <p>
     <a href="/new-book" class="btn-block btn btn-primary btn-lg">Add New Book</a>
   </p>
</div>
<script>
  {{> scatter_script}}
</script>
